/* reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}
